.loginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #87986a;
  width: 400px;
  height: 400px;
}

.loginBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 90%;
  max-width: 400px;
  padding: 20px;
  box-sizing: border-box;
}

@media (max-width: 600px) {
  .loginBox {
    width: 100%;
    padding: 10px;
  }
}
