.history-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #cfe1b9;
  color: black;
  text-align: left;
  border-radius: 10px;
  overflow: hidden;
}

.history-table th,
.history-table td {
  padding: 10px 20px;
  text-align: left;
  font-size: 14px;
}

.history-table th {
  background-color: #87986a;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 13px;
}

.history-table tr {
  border-bottom: 1px solid #87986a;
  transition: background-color 0.3s ease;
}

.history-table tr:last-child {
  border-bottom: none;
}

.history-table td {
  border: none;
}

.history-table tr:hover {
  background-color: #87986a;
}

.history-table tr:nth-child(even) {
  background-color: #d7e0c3;
}

.history-table tr:nth-child(odd) {
  background-color: #cfe1b9;
}
