.result-page {
  font-family: Arial, Helvetica, sans-serif;
  padding: 30px;
  box-sizing: border-box;
}

.result-content {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  flex-direction: row;
  flex-wrap: wrap; /* Flexibel layout för olika skärmstorlekar */
}

.result-table {
  width: 55%; /* Mindre bred så det passar bättre med andra element */
  border-collapse: collapse;
  border: 1px solid #ddd;
  margin-top: 2rem;
  margin-left: 2rem;
}

.flag {
  width: 30%;
  height: auto;
  margin-bottom: 5px;
}

.flagImg {
  width: 100%; /* Flexibel så den justeras efter föräldrarnas storlek */
  height: auto;
  margin-bottom: 5px;
}

td {
  width: 60px; /* Mer flexibilitet för cellernas bredd */
}

.result-table th,
.result-table td {
  text-align: center;
  border: 1px solid #ddd;
  padding: 10px;
}

.result-details {
  width: 25%;
  height: 50%; /* Auto-höjd för bättre responsivitet */
  border: 1px solid #ddd;
  padding: 10px;
  margin-top: 2rem;
}

.btn {
  display: block;
  color: white;
  cursor: pointer;
  background-color: gray;
  padding: 10px;
  margin-top: 10px;
  border: none;
  text-decoration: none;
  width: 50%;
  box-sizing: border-box;
}

.btn:hover {
  background-color: darkgray;
}

@media (max-width: 768px) {
  .result-content {
    flex-direction: column;
    width: 100%;
  }

  .result-table {
    width: 100%;
  }
  .result-details {
    width: 100%;
  }

  td {
    width: 50px;
  }

  .btn {
    width: 50%;
  }
}

@media (max-width: 1390px) {
  .result-content {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .result-table {
    width: 65%;
  }

  .result-details {
    width: 26%;
  }

  td {
    width: 60px;
  }

  .btn {
    width: 50%;
  }
}
