.world-item-container {
  display: flex;
  align-items: center;
  padding: 20px;
  height: 75vh;
}

.flag-img-item {
  max-width: 300px;
  height: auto;
  margin-right: 20px;
}

.world-item-info {
  max-width: 600px;
}

.world-item-info h1 {
  margin-bottom: 10px;
}

.world-item-info p {
  font-size: 18px;
  line-height: 1.6;
}
