.leaderboardCont {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .leaderboardH1 {
    margin: 0;
  }

.leaderboard-box{
    background-color: #87986A;
    width: auto;
    height: 400px;
    margin: 0 60px 60px 60px; 
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.topDiv{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: auto;
    margin: 20px 60px 0 60px;
    z-index: 1;
}

.difficultyDiv{
    background-color: #87986A;
    height: 100%; 
    width: 30%;
    border-top-left-radius: 50px;
    border-top-right-radius: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    color: white;
}

.difficultyDiv button{
    background-color: #87986A; 
    border: none; 
    color: white;
    font: inherit;
    cursor: pointer; 
    padding: 10px 20px; 
    border-radius: 40px; 
    height: 60px;
}

/* .triangle{
    background-image: url('@images/Leaderboard_triangle.svg');
    width: 50px;
} */

.leaderboardTable{
    width: 95%;
    height: 90%;
    background-color: #87986A;
    padding: 20px;
    color: white;
}